.delivery-cost {
  background-color: #3a6308;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px 20px;

  table {
    td {
      white-space: nowrap;
    }
    thead td, tfoot td {
      padding: 10px 0;
    }
    td:nth-child(2) {
      min-width: 20px;
      text-align: right;
      width: 10%;
      padding-left: 10px;
    }
    tbody td:last-child, tfoot td:last-child {
      max-width: 20px;
      width: 100%;
      padding-left: 50px;
    }
    thead {
      font-weight: bold;
      margin-bottom: 10px;
      td {
        text-align: left;
      }
    }
    tbody {
      border-bottom: 1px dotted #CFEBAE;
      color: #CFEBAE;
    }
    tfoot {
      font-weight: bold;
    }
  }
}
